* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #4CAF50;
}
.abc {
    width: 50px;
    height: 25px;
}

ul {

    list-style-type: none;
    background-color: darkgoldenrod;

}

ul li {
    display: inline-flex;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    padding: 10px;

}
.footer{
    position: relative;
    margin: 0px;
    padding: 0px;
    left: 5px;
    top: 0px;
    text-align: center;
    font-size: 34px;
    background-color: cornflowerblue;
    
}

